<!-- webhook-list.component.html -->
<h2>Webhooks Suscriptions</h2>
<div *ngIf="dataSource.data.length>0;else wait">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="callbackurl">
      <th mat-header-cell *matHeaderCellDef> Callback Url </th>
      <td mat-cell *matCellDef="let element"> {{element.callbackurl}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a mat-icon-button color="accent" [routerLink]="['/webhooks/edit', element.id]"><mat-icon>edit</mat-icon></a>
        <a mat-icon-button color="warn" (click)="deleteWebhook(element.id)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <mat-paginator [length]="pageLength"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [showFirstLastButtons]=true
                 (page)="changePage($event)"
                 aria-label="Select page">

  </mat-paginator>

</div>
<ng-template #wait>
  Either fetching records or there are no records
</ng-template>
<br>
<br>
<p>
  <button mat-raised-button color="primary" routerLink="/webhooks/add">Create Webhook Suscription</button>
</p>
