<p>
  <mat-toolbar color="primary">
    <span>Webhook Suscriptions</span>
  </mat-toolbar>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list>
        <a class="sidenav-item" mat-list-item routerLink="">
          <mat-icon>home</mat-icon>
          <span> Home</span>
        </a>
        <a class="sidenav-item" mat-list-item routerLink="/webhooks">
          <mat-icon>home</mat-icon>
          <span> Webhooks Suscriptions</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content">
      <div style="width: 100%;">

        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-container>

</p>
