.example-spacer {
    flex: 1 1 auto;
  }

   .example-container {
    height: 500px;
  }
  

  .example-sidenav-content {
    display: flex;
    height: 88%;
    padding: 2rem;
  }

  .sidenav-item{
    flex-direction: row;
   }
   
   .sidenav-item .mat-icon {
   vertical-align: middle; 
}
