<!-- webhook-detail.component.html -->
<mat-card style="width:50%">
  <mat-card-header>
    <mat-card-title>
      {{ isEditMode ? 'Edit': 'Add' }} Webhook Suscruption
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #webhookForm="ngForm" [formGroup]="frm" (ngSubmit)="saveWebhook()">
      <input type="hidden" formControlName="id" />
      <p>
        <mat-form-field class="w-80">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" [errorStateMatcher]="errorMatcher">
          <mat-error *ngIf="f['name'].errors?.['required']">
            Name is required
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="w-80">
          <mat-label>Callback Url</mat-label>
          <input matInput formControlName="callbackurl" [errorStateMatcher]="errorMatcher" placeholder="https://wwww.callbackurl.com">
          <mat-error *ngIf="f['callbackurl'].errors?.['required']">
            Callback Url is required
          </mat-error>

        </mat-form-field>
      </p>
      <p>
        <button type="submit" mat-raised-button color="primary" [disabled]="frm.invalid">{{ isEditMode ? 'Update' : 'Add' }}</button>
      </p>
      <p>
        <button mat-raised-button color="warn" (click)="goBack()">Cancel</button>
      </p>
    </form>
  </mat-card-content>

</mat-card>
